*.bak 
*.ddk 
*.edk 
*.lst 
*.lnp 
*.mpf 
*.mpj 
*.obj 
*.omf 
*.plg 
*.rpt 
*.tmp 
*.__i 
*.crf 
*.o 
*.d 
*.axf 
*.tra 
*.dep          
*.scvd
*.dbgconf

*.iex 
*.htm 
*.sct 
*.map 
*.uvopt 


JLinkLog.txt
JLinkSettings.ini
debug.ini
stm32f4xx.uvguix.123
stm32f4xx.uvoptx